<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Users</title>
    <link rel="stylesheet" href="/style.css">   
</head>
<body>
         <%- include('../partials/header') %>
         <!-- insert header -->
         <main>
            <h1>
            ALL Users
    
            </h1>
        
                <!-- <JSON class="string">(users)</JSON> -->

                <% for (let i = 0; i < users.length; i++) { %>
            <p>
            <strong><%= users[i].firstname+''+ users[i].lastname%> <br>
    
            </strong>
   <label for="userid">User Id</label> <%= users[i].id%> <br>
            <%= users[i].email %> <br>
            <%= users[i].password %>
   
        </p>
<% } %>  
            <!-- insert newuser -->
    <a href="/users/new" class="btn newschedule">Create new user</a>
        </main>
        <!-- insert footer -->
    
    </body>
</html>